beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
EditorConfig==0.12.3
Flask==1.1.2
Flask-Cors==3.0.10
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
jsbeautifier==1.13.0
MarkupSafe==1.1.1
mysql-connector-python==8.0.23
protobuf==3.14.0
PyExecJS==1.5.1
PyMySQL==1.0.2
requests==2.25.1
six==1.15.0
soupsieve==2.1
SQLAlchemy==1.4.2
urllib3==1.26.2
Werkzeug==1.0.1
